@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&display=swap');


body {
    background: rgba(199, 199, 199, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
} 

canvas {
    border: 1px solid rgb(182, 0, 142);
    background-color: white;
    width: 600px;
    height: 600px;
}

.buttons {
    display: flex;
    width: 602px;
    text-align: left;
    padding: 10px 0;
    background: rgb(182, 0, 142);
    border: 1px solid rgb(182, 0, 142);
}

.buttons > * {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: whitesmoke;
    border: none;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin: 2px;
}

.buttons > *:last-child{
    margin-left: auto;
}
